<section>
    <header class="py-5">
        <div class="container">
            <div>
                <h1 class="fw-bolder">Activities</h1>
            </div>
            <div>
                <img src="assets/img/activites.png" alt="activites">
            </div>
        </div>
    </header>

    <div class="container">
        <p class="py-5 w-75 fs-1">
            Kids need to be active for 60 minutes a day. From our fun 10 Minute Shake Up games to information about
            active hobbies and sports, here's everything you need to get your family moving!
        </p>
    </div>

    <div class="reasons py-5">

        <div class="container">
            <div class="text-center">
                <p class="fs-1">Lots of good reasons to get moving!</p>
                <p>Research shows that physical activity can help school aged kids in lots of ways.</p>
            </div>

            <div class="row py-5">
                <div class="col-lg-3 col-md-6 p-3">
                    <div class="item text-center py-3">
                        <div>
                            <img class="w-50 p-3" src="assets/img/confidence_2x.png" alt="confidence">
                        </div>
                        <div class="p-3">
                            <p>Improves behaviour, self-confidence and social skills</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 p-3">
                    <div class="item text-center py-3">
                        <div>
                            <img class="w-50 p-3" src="assets/img/study_2x.png" alt="study">
                        </div>
                        <div class="p-3">
                            <p>Improves attention levels and performance at school</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 p-3">
                    <div class="item text-center py-3">
                        <div>
                            <img class="w-50 p-3" src="assets/img/coordination_2x.png" alt="coordination">
                        </div>
                        <div class="p-3">
                            <p>Develops co-ordination</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 p-3">
                    <div class="item text-center py-3">
                        <div>
                            <img class="w-50 p-3" src="assets/img/muscles_2x.png" alt="muscles">
                        </div>
                        <div class="p-3">
                            <p>Strengthens muscles and bones</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 p-3">
                    <div class="item text-center py-3">
                        <div>
                            <img class="w-50 p-3" src="assets/img/health_2x.png" alt="health">
                        </div>
                        <div class="p-3">
                            <p>Improves health and fitness</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 p-3">
                    <div class="item text-center py-3">
                        <div>
                            <img class="w-50 p-3" src="assets/img/weight_2x.png" alt="weight">
                        </div>
                        <div class="p-3">
                            <p>Maintains healthy weight</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 p-3">
                    <div class="item text-center py-3">
                        <div>
                            <img class="w-50 p-3" src="assets/img/sleep_2x.png" alt="sleep">
                        </div>
                        <div class="p-3">
                            <p>Helps them sleep better</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 p-3">
                    <div class="item text-center py-3">
                        <div>
                            <img class="w-50 p-3" src="assets/img/feel-good_2x.png" alt="feel-good">
                        </div>
                        <div class="p-3">
                            <p>Improves mood and makes them feel good</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container py-5">
        <div class="gameContent shadow my-5">
            <div class="position-relative">
                <img class="img-fluid game" src="assets/img/game.jpg" alt="games">
                <div class="gameLogo"><img src="assets/img/game-logo.svg" alt="logo"></div>
            </div>
            <div class="row py-5">
                <div class="col-md-6">
                    <div class="d-flex justify-content-center align-items-center h-100">
                        <img class="w-75" src="assets/img/games.png" alt="">
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="d-flex justify-content-center align-items-center h-100">
                        <div class="px-5">
                            <h2 class="fs-1 fw-bolder py-2">
                                Get moving with a Shake Up!
                            </h2>
                            <p>
                                Have you tried our Disney inspired games and activities? Shake Up games are fun for all
                                the family –
                                and a great way to get kids active!
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="idea py-5">
        <div class="container py-5">
            <div class="row">
                <div class="col-md-6 d-flex justify-content-center align-items-center">
                    <div>
                        <img class="img-fluid ideaImg" src="assets/img/Ideas .png" alt="Ideas">
                    </div>
                </div>
                <div class="col-md-6 d-flex justify-content-center align-items-center">
                    <div>
                        <h2 class="fs-1 fw-bolder py-3">
                            Ideas for disabled children
                        </h2>
                        <p>
                            For kids to lead a healthy lifestyle, they need to move as much as possible – and if they
                            have
                            additional needs, this is just as important.
                        </p>
                        <p>
                            Start off by choosing activities your child is interested in and adapt them.
                        </p>
                    </div>
                </div>
            </div>

        </div>
    </div>

    <div class="bg-light">
        <div class="container py-5">
            <h2 class="fs-1 fw-bolder pt-3 text-center">
                More ways to get going
            </h2>
            <div class="row py-5">
                
                <div class="col-lg-4 col-md-6 p-3">
                    <div class="card bg-white shadow pt-5">
                        <div class="position-relative pt-5">
                            <div class="cardHead px-3">
                                <img class="cardIcon" src="assets/img/card-icon.png" alt="card">
                            </div>
                            <img class="img-fluid" src="assets/img/mike.jpg" alt="mike">
                            <div class="cardLip"><img src="assets/img/card-lip-white.png" alt="lip"></div>
                        </div>
                        <div class="px-4">
                            <h3 class="py-3 fw-bolder">Mike and Sulley's Scare Challenge</h3>
                            <p>Can you creep around the room as you scare like Mike and Sulley?</p>
                        </div>
                        <div class="d-flex align-items-center justify-content-between pb-3 px-3">
                            <p class="my-0 fs-6 player py-1 px-3 rounded-pill"><i class="far fa-user me-1"></i><span class="text-muted">2 players or
                                    more</span></p>
                            <div class="d-flex align-items-center">
                                <p class="my-0 me-2 like">1000</p><img src="assets/img/thumbs_dark_green.png"
                                    alt="like">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 p-3">
                    <div class="card bg-white shadow pt-5">
                        <div class="position-relative pt-5">
                            <div class="cardHead px-3">
                                <img class="cardIcon" src="assets/img/card-icon.png" alt="card">
                            </div>
                            <img class="img-fluid" src="assets/img/spot.jpg" alt="spot">
                            <div class="cardLip"><img src="assets/img/card-lip-white.png" alt="lip"></div>
                        </div>
                        <div class="px-4">
                            <h3 class="py-3 fw-bolder">Spot Fetch</h3>
                            <p>Spot is a loyal friend to Arlo and they go everywhere together. He even likes to play
                                fetch –
                                can you fetch as many balls as him?</p>
                        </div>
                        <div class="d-flex align-items-center justify-content-between pb-3 px-3">
                            <p class="my-0 fs-6 player py-1 px-3 rounded-pill"><i class="far fa-user me-1"></i><span class="text-muted">3 players or
                                    more</span></p>
                            <div class="d-flex align-items-center">
                                <p class="my-0 me-2 like">1000</p><img src="assets/img/thumbs_dark_green.png"
                                    alt="like">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 p-3">
                    <div class="card bg-white shadow pt-5">
                        <div class="position-relative pt-5">
                            <div class="cardHead px-3">
                                <img class="cardIcon" src="assets/img/card-icon.png" alt="card">
                            </div>
                            <img class="img-fluid" src="assets/img/lion.jpg" alt="lion">
                            <div class="cardLip"><img src="assets/img/card-lip-white.png" alt="lip"></div>
                        </div>
                        <div class="px-4">
                            <h3 class="py-3 fw-bolder">Nala's Sprint to Safety</h3>
                            <p>Weave your way out of the elephant graveyard running faster than a hyena!</p>
                        </div>
                        <div class="d-flex align-items-center justify-content-between pb-3 px-3">
                            <p class="my-0 fs-6 player py-1 px-3 rounded-pill"><i class="far fa-user me-1"></i><span class="text-muted">1 players or
                                    more</span></p>
                            <div class="d-flex align-items-center">
                                <p class="my-0 me-2 like">1000</p><img src="assets/img/thumbs_dark_green.png"
                                    alt="like">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 p-3">
                    <div class="card bg-white shadow pt-5">
                        <div class="position-relative pt-5">
                            <div class="cardHead px-3">
                                <img class="cardIcon" src="assets/img/card-icon.png" alt="card">
                            </div>
                            <img class="img-fluid" src="assets/img/frozen.jpg" alt="frozen">
                            <div class="cardLip"><img src="assets/img/card-lip-white.png" alt="lip"></div>
                        </div>
                        <div class="px-4">
                            <h3 class="py-3 fw-bolder">Eye on Olaf</h3>
                            <p>Olaf is told to keep an eye on the cake while Elsa goes to get Anna ready for her
                                birthday surprise. Can you keep your eye on the cake?</p>
                        </div>
                        <div class="d-flex align-items-center justify-content-between pb-3 px-3">
                            <p class="my-0 fs-6 player py-1 px-3 rounded-pill"><i class="far fa-user me-1"></i><span class="text-muted">3 players or
                                    more</span></p>
                            <div class="d-flex align-items-center">
                                <p class="my-0 me-2 like">1000</p><img src="assets/img/thumbs_dark_green.png"
                                    alt="like">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 p-3">
                    <div class="card bg-white shadow pt-5">
                        <div class="position-relative pt-5">
                            <div class="cardHead px-3">
                                <img class="cardIcon" src="assets/img/card-icon.png" alt="card">
                            </div>
                            <img class="img-fluid" src="assets/img/toy.jpg" alt="toy">
                            <div class="cardLip"><img src="assets/img/card-lip-white.png" alt="lip"></div>
                        </div>
                        <div class="px-4">
                            <h3 class="py-3 fw-bolder">Buzz's Superbowl</h3>
                            <p>Can you leap to infinity and beyond to catch a ball Buzz Lightyear has thrown for you?
                            </p>
                        </div>
                        <div class="d-flex align-items-center justify-content-between pb-3 px-3">
                            <p class="my-0 fs-6 player py-1 px-3 rounded-pill"><i class="far fa-user me-1"></i><span class="text-muted">2 players or
                                    more</span></p>
                            <div class="d-flex align-items-center">
                                <p class="my-0 me-2 like">1000</p><img src="assets/img/thumbs_dark_green.png"
                                    alt="like">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 p-3">
                    <div class="card bg-white shadow pt-5">
                        <div class="position-relative pt-5">
                            <div class="cardHead px-3">
                                <img class="cardIcon" src="assets/img/card-icon.png" alt="card">
                            </div>
                            <img class="img-fluid" src="assets/img/zoot.jpg" alt="zoot">
                            <div class="cardLip"><img src="assets/img/card-lip-white.png" alt="lip"></div>
                        </div>
                        <div class="px-4">
                            <h3 class="py-3 fw-bolder">Judy's Hopathon</h3>
                            <p>Judy is a very eager officer, hopping and jumping her way to catching criminals in
                                Zootropolis. Can you jump for as long as her? </p>
                        </div>
                        <div class="d-flex align-items-center justify-content-between pb-3 px-3">
                            <p class="my-0 fs-6 player py-1 px-3 rounded-pill"><i class="far fa-user me-1"></i><span class="text-muted">1 players or
                                    more</span></p>
                            <div class="d-flex align-items-center">
                                <p class="my-0 me-2 like">1000</p><img src="assets/img/thumbs_dark_green.png"
                                    alt="like">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


</section>