<section>
    <img class=" img-fluid" src="assets/img/footer-hills.png" alt="hills">
    <div class="footer py-5">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <div class="text-center text-white">
                        <h2 class="fw-bolder pb-2">
                            4 million and counting!
                        </h2>
                        <p>
                            Millions of families have already made healthier changes – you can too.
                        </p>
                    </div>
                </div>
                <div class="col-md-6">
                    <div>
                        <h2 class="text-center text-white fw-bolder pb-2">
                            Stay in touch
                        </h2>
                        <div class="d-flex justify-content-center align-items-center">
                            <a class="icon"><i class="fab fa-facebook-f"></i></a>
                            <a class="icon mx-3"><i class="fab fa-instagram"></i></a>
                            <a class="icon"><i class="fab fa-twitter"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
