<section>
    <header class="text-center">
        <div class="head py-5 d-flex justify-content-center align-items-center">
            <img src="assets/img/recipes.svg" alt="recipes">
            <h1 class="fw-bolder">
                All recipes
            </h1>

        </div>
        <img src="assets/img/lip-orange.png" alt="lip">
    </header>

    <div class="container py-5">
        <div class="row">
            <div class="col-md-4 p-4">
                <a [routerLink]="['/banana']">
                    <div class="meal">
                        <div>
                            <img class="img-fluid shadow" src="assets/img/banana.jpg" alt="banana">
                        </div>
                        <div class="text-center">
                            <h3>
                                Banana
                            </h3>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-md-4 p-4">
                <a [routerLink]="['/apple']">
                    <div class="meal">
                        <div>
                            <img class="img-fluid shadow" src="assets/img/apple.jpg" alt="apple">
                        </div>
                        <div class="text-center">
                            <h3>
                                Apple
                            </h3>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-md-4 p-4">
                <a [routerLink]="['/beef']">
                    <div class="meal">
                        <div>
                            <img class="img-fluid shadow" src="assets/img/beef.jpg" alt="beef">
                        </div>
                        <div class="text-center">
                            <h3>
                                Beef
                            </h3>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-md-4 p-4">
                <a [routerLink]="['/fish']">
                    <div class="meal">
                        <div>
                            <img class="img-fluid shadow" src="assets/img/fish.jpg" alt="fish">
                        </div>
                        <div class="text-center">
                            <h3>
                                Fish
                            </h3>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-md-4 p-4">
                <a [routerLink]="['/mango']">
                    <div class="meal">
                        <div>
                            <img class="img-fluid shadow" src="assets/img/mango.jpg" alt="mango">
                        </div>
                        <div class="text-center">
                            <h3>
                                Mango
                            </h3>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-md-4 p-4">
                <a [routerLink]="['/pasta']">
                    <div class="meal">
                        <div>
                            <img class="img-fluid shadow" src="assets/img/pasta.jpg" alt="pasta">
                        </div>
                        <div class="text-center">
                            <h3>
                                Pasta
                            </h3>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-md-4 p-4">
                <a [routerLink]="['/potato']">
                    <div class="meal">
                        <div>
                            <img class="img-fluid shadow" src="assets/img/potato.jpg" alt="potato">
                        </div>
                        <div class="text-center">
                            <h3>
                                Potato
                            </h3>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-md-4 p-4">
                <a [routerLink]="['/salad']">
                    <div class="meal">
                        <div>
                            <img class="img-fluid shadow" src="assets/img/salad.jpg" alt="salad">
                        </div>
                        <div class="text-center">
                            <h3>
                                Salad
                            </h3>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-md-4 p-4">
                <a [routerLink]="['/steak']">
                    <div class="meal">
                        <div>
                            <img class="img-fluid shadow" src="assets/img/steak.jpg" alt="steak">
                        </div>
                        <div class="text-center">
                            <h3>
                                Steak
                            </h3>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>

</section>