<section>
    <header>
        <div class="container py-5">
            <h1 class="py-5 text-center fw-bolder">
                School height and weight checks
            </h1>
            <div class="row">
                <div class="col-lg-6">
                    <div class="d-flex justify-content-center align-items-center">
                        <img class="w-50" src="assets/img/letter.png" alt="letter">
                    </div>
                </div>
                <div class="col-lg-6 d-flex align-items-center">
                    <div>
                        <p class="fs-4">
                            Has your child just been measured at school? The results can be surprising, but they're just
                            a snapshot of your child's weight and it's not the end of the world. Get them back to a
                            healthy weight with a few simple changes to help them eat more healthily and be more active.
                        </p>

                        <button class="btn btn-outline-success my-3 fw-bolder fs-3 rounded-pill px-4" (click)="change()">Make a
                            change today!</button>
                        <p>
                            <a class="open d-flex align-items-center fs-4" data-bs-toggle="collapse"
                                href="#collapseExample" role="button" aria-expanded="false"
                                aria-controls="collapseExample">
                                <i class="fas fa-angle-down me-1"></i>Have you received a letter?
                            </a>

                        </p>
                        <div class="collapse" id="collapseExample">
                            <div class="card card-body border-0">
                                <p>
                                    Children have their height and weight measured in Reception and Year 6 as part of
                                    the National Child Measurement Programme (NCMP). This information is used to plan
                                    and provide better services for children and families.
                                </p>
                                <p>
                                    If your child's NCMP letter surprised or worried you, speak to your GP or school
                                    nurse for advice and support. You can call the number on the results letter for
                                    advice and support too.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="headNav text-center py-2">
            <a (click)="very()" class="m-2 link">Very overweight</a>
            <a (click)="over()" class="m-2 link">Overweight</a>
            <a (click)="healthy()" class="m-2 link">Healthy weight</a>
            <a (click)="under()" class="m-2 link">Under weight</a>
        </div>
    </header>

    <div id="very" class="bg-light">
        <div class="container py-5">
            <div class="text-center py-5 w-75 m-auto head">
                <h2 class="fw-bolder fs-1 pb-2">
                    Very overweight
                </h2>
                <p class="fs-4">
                    It can be difficult to help your child achieve a healthier weight when they still need food
                    and energy to help them grow. However, we have practical advice to help you make a change.
                </p>
            </div>
            <div class="row">
                <div class="col-lg-6">
                    <div class="d-flex justify-content-center align-items-center">
                        <img class="w-50" src="assets/img/very.png" alt="very">
                    </div>
                </div>
                <div class="col-lg-6 d-flex align-items-center">
                    <div>
                        <div>

                            <p>
                                <a class="open d-flex align-items-center fs-4" data-bs-toggle="collapse"
                                    href="#collapseExample1" role="button" aria-expanded="false"
                                    aria-controls="collapseExample1">
                                    <i class="fas fa-angle-down me-1"></i>Is my child really overweight?
                                </a>

                            </p>
                            <div class="collapse" id="collapseExample1">
                                <div class="card card-body border-0">
                                    <p>
                                        As a parent, it's difficult to tell if your child is overweight. Because the
                                        number
                                        of overweight children has grown, we’ve become more used to seeing bigger
                                        children.
                                    </p>
                                    <p>
                                        You can re-check your child's height and weight to see if they have moved into
                                        the
                                        healthy range as they grow using the NHS BMI calculator.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div>

                            <p>
                                <a class="open d-flex align-items-center fs-4" data-bs-toggle="collapse"
                                    href="#collapseExample2" role="button" aria-expanded="false"
                                    aria-controls="collapseExample2">
                                    <i class="fas fa-angle-down me-1"></i>Should I tell my child?
                                </a>

                            </p>
                            <div class="collapse" id="collapseExample2">
                                <div class="card card-body border-0">
                                    <p>
                                        This is entirely up to you. The letter is sent to you, and the school won't tell
                                        your child the result.
                                    </p>
                                    <p>
                                        Some parents decide to tell their children and talk about the changes they need
                                        to make together.
                                    </p>
                                    <p>
                                        Others decide not to, and make subtle changes without their child noticing.
                                    </p>
                                    <p>
                                        If you do share the results with your child, let them know that all you want is
                                        for them to be healthy and happy.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div>

                            <p>
                                <a class="open d-flex align-items-center fs-4" data-bs-toggle="collapse"
                                    href="#collapseExample3" role="button" aria-expanded="false"
                                    aria-controls="collapseExample3">
                                    <i class="fas fa-angle-down me-1"></i>How can I help my child to be a healthier
                                    weight?
                                </a>

                            </p>
                            <div class="collapse" id="collapseExample3">
                                <div class="card card-body border-0">
                                    <p>
                                        If your child is very overweight, there's lots you can do to help your child
                                        become a healthier weight as they grow. Getting your child to eat well and move
                                        more is important.
                                    </p>
                                    <p>
                                        If you are worried about your child’s weight, speak to your GP or practice nurse
                                        who can give you further advice and support.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="veryFooter text-center py-5 position-relative overflow-hidden">
            <button class="changeBtn btn btn-outline-success my-3 fw-bolder fs-3 rounded-pill px-4" (click)="change()">Make a
                change
                today!</button>

            <img class="veryImg" src="assets/img/vegetable.png" alt="vegetable">

        </div>
    </div>

    <div id="over" class="bg-light">
        <div class="container py-5">
            <div class="text-center py-5 w-75 m-auto head">
                <h2 class="fw-bolder fs-1 pb-2">
                    Overweight
                </h2>
                <p class="fs-4">
                    As a parent, it’s sometimes difficult to tell if your child is overweight. However, we have lots of
                    practical advice to help you understand and make a change.
                </p>
            </div>
            <div class="row">
                <div class="col-lg-6">
                    <div class="d-flex justify-content-center align-items-center">
                        <img class="w-50" src="assets/img/over.png" alt="over">
                    </div>
                </div>

                <div class="col-lg-6 d-flex align-items-center">
                    <div>
                        <div>

                            <p>
                                <a class="open d-flex align-items-center fs-4" data-bs-toggle="collapse"
                                    href="#collapseExample4" role="button" aria-expanded="false"
                                    aria-controls="collapseExample4">
                                    <i class="fas fa-angle-down me-1"></i>Is my child really overweight?
                                </a>

                            </p>
                            <div class="collapse" id="collapseExample4">
                                <div class="card card-body border-0">
                                    <p>
                                        Because the number of overweight children has grown, we’ve become more used to
                                        seeing bigger children.
                                    </p>
                                    <p>
                                        You can re-check your child's height and weight to see if they have moved into
                                        the healthy range as they grow using the NHS BMI calculator.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div>

                            <p>
                                <a class="open d-flex align-items-center fs-4" data-bs-toggle="collapse"
                                    href="#collapseExample5" role="button" aria-expanded="false"
                                    aria-controls="collapseExample5">
                                    <i class="fas fa-angle-down me-1"></i>Should I tell my child?
                                </a>

                            </p>
                            <div class="collapse" id="collapseExample5">
                                <div class="card card-body border-0">
                                    <p>
                                        This is entirely up to you. The letter is sent to you, and the school won't tell
                                        your child the result.
                                    </p>
                                    <p>
                                        Some parents decide to tell their children and talk about the changes they need
                                        to make together.
                                    </p>
                                    <p>
                                        Others decide not to, and make subtle changes without their child noticing.
                                    </p>
                                    <p>
                                        If you do share the results with your child, let them know that all you want is
                                        for them to be healthy and happy.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div>

                            <p>
                                <a class="open d-flex align-items-center fs-4" data-bs-toggle="collapse"
                                    href="#collapseExample6" role="button" aria-expanded="false"
                                    aria-controls="collapseExample6">
                                    <i class="fas fa-angle-down me-1"></i>How can I help my child to be a healthier
                                    weight?
                                </a>

                            </p>
                            <div class="collapse" id="collapseExample6">
                                <div class="card card-body border-0">
                                    <p>
                                        If your child is very overweight, there's lots you can do to help your child
                                        become a healthier weight as they grow. Getting your child to eat well and move
                                        more is important.
                                    </p>
                                    <p>
                                        If you are worried about your child’s weight, speak to your GP or practice nurse
                                        who can give you further advice and support.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <div class="overFooter text-center py-5 position-relative overflow-hidden">
            <button class="changeBtn btn btn-outline-success my-3 fw-bolder fs-3 rounded-pill px-4" (click)="change()">Make a
                change
                today!</button>

            <img class="overImg" src="assets/img/play.png" alt="play">

        </div>
    </div>

    <div id="healthy" class="bg-light">
        <div class="container py-5">
            <div class="text-center py-5 w-75 m-auto head">
                <h2 class="fw-bolder fs-1 pb-2">
                    Healthy weight
                </h2>
                <p class="fs-4">
                    If your child is already a healthy weight, there are lots of things you can do as a parent to help
                    your child stay a healthy weight as they grow.
                </p>
            </div>
            <div class="row">
                <div class="col-lg-6">
                    <div class="d-flex justify-content-center align-items-center">
                        <img class="w-50" src="assets/img/letter.png" alt="letter">
                    </div>
                </div>

                <div class="col-lg-6 d-flex align-items-center">

                    <div class="bg-white p-5 healthyText position-relative">

                        <p class="fs-2 fw-bolder pb-2">
                            How can I keep my child healthy?
                        </p>

                        <div>
                            <p>
                                Keep encouraging your child to eat well and move more, and they are more likely to
                                stay a healthy weight. You can check their BMI every now and then using the NHS BMI
                                calculator to make sure they stay in the healthy range.
                            </p>

                        </div>

                    </div>

                </div>

            </div>
        </div>
        <div class="healthyFooter text-center py-5 position-relative overflow-hidden">
            <button class="changeBtn btn btn-outline-success my-3 fw-bolder fs-3 rounded-pill px-4" (click)="change()">Make a
                change
                today!</button>

            <img class="healthyImg" src="assets/img/healthy.png" alt="healthy">

        </div>
    </div>

    <div id="under" class="bg-light">
        <div class="container py-5">
            <div class="text-center py-5 w-75 m-auto head">
                <h2 class="fw-bolder fs-1 pb-2">
                    Underweight
                </h2>
                <p class="fs-4">
                    As a parent, it's difficult to tell that your child is underweight. However, we have the practical
                    advice to help you make a change.
                </p>
            </div>
            <div class="row">
                <div class="col-lg-6">
                    <div class="d-flex justify-content-center align-items-center">
                        <img class="w-50" src="assets/img/think.png" alt="think">
                    </div>
                </div>

                <div class="col-lg-6 d-flex align-items-center">
                    <div>
                        <div>

                            <p>
                                <a class="open d-flex align-items-center fs-4" data-bs-toggle="collapse"
                                    href="#collapseExample7" role="button" aria-expanded="false"
                                    aria-controls="collapseExample7">
                                    <i class="fas fa-angle-down me-1"></i>Is my child really underweight?
                                </a>

                            </p>
                            <div class="collapse" id="collapseExample7">
                                <div class="card card-body border-0">
                                    <p>
                                        As a parent, it's difficult to tell if your child is underweight. If you’re
                                        concerned your child is underweight, take your child to see your GP. Low weight
                                        can occur for a number of reasons. If there is a possible problem with your
                                        child's diet, your GP can give advice on what will help bring them up to a
                                        healthy weight, or refer your child to a dietitian.
                                    </p>
                                    <p>
                                        You can re-check your child’s height and weight to see if they have moved into
                                        the healthy range as they grow using the NHS BMI calculator.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div>

                            <p>
                                <a class="open d-flex align-items-center fs-4" data-bs-toggle="collapse"
                                    href="#collapseExample8" role="button" aria-expanded="false"
                                    aria-controls="collapseExample8">
                                    <i class="fas fa-angle-down me-1"></i>Should I tell my child?
                                </a>

                            </p>
                            <div class="collapse" id="collapseExample8">
                                <div class="card card-body border-0">
                                    <p>
                                        This is entirely up to you. The letter is sent to you, and the school won't tell
                                        your child the result. Some parents decide to tell their children and talk about
                                        the changes they need to make together. Others decide not to, and make subtle
                                        changes without their child noticing.
                                    </p>
                                    <p>
                                        If you do share the results with your child, let them know that all you want is
                                        for them to be healthy and happy.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div>

                            <p>
                                <a class="open d-flex align-items-center fs-4" data-bs-toggle="collapse"
                                    href="#collapseExample9" role="button" aria-expanded="false"
                                    aria-controls="collapseExample9">
                                    <i class="fas fa-angle-down me-1"></i>How can I help my child to be a healthier
                                    weight?
                                </a>

                            </p>
                            <div class="collapse" id="collapseExample9">
                                <div class="card card-body border-0">
                                    <p>
                                        If you're concerned your child is underweight, take your child to see your GP.
                                        Low weight can occur for a number of reasons.
                                    </p>
                                    <p>
                                        If there is a possible problem with your child's diet, your GP can give advice
                                        on what will help bring them up to a healthy weight, or refer your child to a
                                        dietitian.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <div id="change" class="bg-light">
        <div class="headChange text-center py-3">
            <div class="container w-75 m-auto head">
                <h2 class="fw-bolder fs-1 pb-2">
                    Make a change today!
                </h2>
                <p class="fs-4">
                    If you are concerned about your child, speak to your GP or practice nurse to see what support is
                    available locally. Small lifestyle changes can make a big difference. Start with one of the tips
                    below and work your way through them all.
                </p>
            </div>
        </div>
        <div class="container py-5">


            <div class="row">
                <div class="col-md-6 col-lg-4 p-3">
                    <div class="changeItem bg-white shadow">
                        <img class="img-fluid changeImg" src="assets/img/support.png" alt="support">
                        <div>
                            <p class="m-0 py-3">
                                <a class="open d-flex align-items-center justify-content-center fs-4"
                                    data-bs-toggle="collapse" href="#collapseExample10" role="button"
                                    aria-expanded="false" aria-controls="collapseExample10">
                                    <i class="fas fa-angle-down me-1"></i>Getting support
                                </a>

                            </p>
                            <div class="collapse" id="collapseExample10">
                                <div class="card card-body border-0">
                                    <p>For more advice and support you should always speak to your child's school nurse,
                                        GP or
                                        practice nurse.</p>
                                    <p>If needed, they can refer you to your local weight management programme, which
                                        will help
                                        your
                                        family with diet and lifestyle changes, to help your child achieve a healthier
                                        weight.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4 p-3">
                    <div class="changeItem bg-white shadow">
                        <img class="img-fluid changeImg" src="assets/img/smart.png" alt="smart">
                        <div>
                            <p class="m-0 py-3">
                                <a class="open d-flex align-items-center justify-content-center fs-4"
                                    data-bs-toggle="collapse" href="#collapseExample11" role="button"
                                    aria-expanded="false" aria-controls="collapseExample11">
                                    <i class="fas fa-angle-down me-1"></i>Get Sugar Smart
                                </a>

                            </p>
                            <div class="collapse" id="collapseExample11">
                                <div class="card card-body border-0">
                                    <p>We're all having too much sugar. Our kids might seem fine on the outside, but too
                                        much sugar can lead to the build-up of harmful fat on the inside.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-6 col-lg-4 p-3">
                    <div class="changeItem bg-white shadow">
                        <img class="img-fluid changeImg" src="assets/img/size.png" alt="size">
                        <div>
                            <p class="m-0 py-3">
                                <a class="open d-flex align-items-center justify-content-center fs-4"
                                    data-bs-toggle="collapse" href="#collapseExample12" role="button"
                                    aria-expanded="false" aria-controls="collapseExample12">
                                    <i class="fas fa-angle-down me-1"></i>Me-sized meals
                                </a>

                            </p>
                            <div class="collapse" id="collapseExample12">
                                <div class="card card-body border-0">
                                    <p>These days' larger portion sizes are more readily available, which means it's
                                        easy to
                                        eat too much.</p>
                                    <p>A good rule of thumb is to start meals with small servings and, just like Oliver
                                        Twist, if they're still hungry they'll ask for more.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-6 col-lg-4 p-3">
                    <div class="changeItem bg-white shadow">
                        <img class="img-fluid changeImg" src="assets/img/eat.png" alt="eat">
                        <div>
                            <p class="m-0 py-3">
                                <a class="open d-flex align-items-center justify-content-center fs-4"
                                    data-bs-toggle="collapse" href="#collapseExample13" role="button"
                                    aria-expanded="false" aria-controls="collapseExample13">
                                    <i class="fas fa-angle-down me-1"></i>Eat well
                                </a>

                            </p>
                            <div class="collapse" id="collapseExample13">
                                <div class="card card-body border-0">
                                    <p>Having healthy eating habits helps your kids achieve and maintain a healthy
                                        weight,
                                        and teaches your child how to make healthy food choices for themselves.</p>
                                    <p>There are lots of cheap and tasty ways you and your family can eat well every day
                                        –
                                        use our recipes for inspiration. For information on how your family can eat a
                                        healthy balanced diet, use the Eatwell guide.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-6 col-lg-4 p-3">
                    <div class="changeItem bg-white shadow">
                        <img class="img-fluid changeImg" src="assets/img/time.png" alt="time">
                        <div>
                            <p class="m-0 py-3">
                                <a class="open d-flex align-items-center justify-content-center fs-4"
                                    data-bs-toggle="collapse" href="#collapseExample14" role="button"
                                    aria-expanded="false" aria-controls="collapseExample14">
                                    <i class="fas fa-angle-down me-1"></i>Less screen time
                                </a>

                            </p>
                            <div class="collapse" id="collapseExample14">
                                <div class="card card-body border-0">
                                    <p>Help your children avoid sitting and lying around too much, as this makes it more
                                        likely they'll put on weight.</p>
                                    <p>Limit the amount of time your child spends on inactive pastimes such as watching
                                        television, playing video games and playing on electronic devices.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-6 col-lg-4 p-3">
                    <div class="changeItem bg-white shadow">
                        <img class="img-fluid changeImg" src="assets/img/go.png" alt="go">
                        <div>
                            <p class="m-0 py-3">
                                <a class="open d-flex align-items-center justify-content-center fs-4"
                                    data-bs-toggle="collapse" href="#collapseExample15" role="button"
                                    aria-expanded="false" aria-controls="collapseExample15">
                                    <i class="fas fa-angle-down me-1"></i>Get going
                                </a>

                            </p>
                            <div class="collapse" id="collapseExample15">
                                <div class="card card-body border-0">
                                    <p>Kids need at least 60 active minutes every day. Being active every day keeps
                                        their
                                        heart healthy, reduces their risk of serious illness and strengthens muscles and
                                        bones.</p>
                                    <p>Boost your family's activity levels by squeezing 10-minute bursts of fun activity
                                        into every day, like our 10 Minute Shake Ups.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>